
# Visual Studio
.vs/

# Build results
**/bin/
**/obj/

# User-specific files
*.user

# AppSettings
**/appsettings.json
**/appsettings.*.json
# Web projects
.vs/
*.config
*.json

# Package Manager
*.nupkg
**/packages/

# Azure Stream Analytics
/DataLakeStore/
/LocalRunOutputs/

# Azure .NET Core
/publish/
/.gitignore
